# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
aiohttp=3.8.3=pypi_0
aiohttp-retry=2.8.3=pypi_0
aiosignal=1.3.1=pypi_0
amqp=5.1.1=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
appdirs=1.4.4=pypi_0
async-timeout=4.0.2=pypi_0
asyncssh=2.12.0=pypi_0
atpublic=3.1.1=pypi_0
billiard=3.6.4.0=pypi_0
blas=1.0=mkl
bottleneck=1.3.5=py38h7deecbd_0
ca-certificates=2022.10.11=h06a4308_0
celery=5.2.7=pypi_0
certifi=2022.9.24=py38h06a4308_0
charset-normalizer=2.1.1=pypi_0
click-didyoumean=0.3.0=pypi_0
click-plugins=1.1.1=pypi_0
click-repl=0.2.0=pypi_0
colorama=0.4.6=pypi_0
commonmark=0.9.1=pypi_0
configobj=5.0.6=pypi_0
cryptography=38.0.4=pypi_0
dictdiffer=0.9.0=pypi_0
diskcache=5.4.0=pypi_0
distro=1.8.0=pypi_0
dpath=2.1.0=pypi_0
dulwich=0.20.50=pypi_0
dvc=2.35.2=pypi_0
dvc-data=0.28.0=pypi_0
dvc-http=2.27.2=pypi_0
dvc-objects=0.14.0=pypi_0
dvc-render=0.0.14=pypi_0
dvc-task=0.1.6=pypi_0
dvclive=1.0.1=pypi_0
flatten-dict=0.4.2=pypi_0
flufl-lock=7.1.1=pypi_0
frozenlist=1.3.3=pypi_0
fsspec=2022.11.0=pypi_0
funcy=1.17=pypi_0
future=0.18.2=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.29=pypi_0
grandalf=0.6=pypi_0
hydra-core=1.2.0=pypi_0
idna=3.4=pypi_0
importlib-resources=5.10.0=pypi_0
intel-openmp=2021.4.0=h06a4308_3561
iterative-telemetry=0.0.6=pypi_0
kombu=5.2.4=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.4.2=h6a678d5_6
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
mkl=2021.4.0=h06a4308_640
mkl-service=2.4.0=py38h7f8727e_0
mkl_fft=1.3.1=py38hd3c417c_0
mkl_random=1.2.2=py38h51133e4_0
multidict=6.0.2=pypi_0
nanotime=0.5.2=pypi_0
ncurses=6.3=h5eee18b_3
networkx=2.8.8=pypi_0
numexpr=2.8.4=py38he184ba9_0
numpy=1.23.4=py38h14f4228_0
numpy-base=1.23.4=py38h31eccc5_0
omegaconf=2.2.3=pypi_0
openssl=1.1.1s=h7f8727e_0
packaging=21.3=pyhd3eb1b0_0
pandas=1.5.1=py38h417a72b_0
pip=22.2.2=py38h06a4308_0
prompt-toolkit=3.0.33=pypi_0
psutil=5.9.4=pypi_0
pydot=1.4.2=pypi_0
pygit2=1.11.1=pypi_0
pygments=2.13.0=pypi_0
pygtrie=2.5.0=pypi_0
pyparsing=3.0.9=py38h06a4308_0
python=3.8.15=h7a1cb2a_2
python-dateutil=2.8.2=pyhd3eb1b0_0
pytz=2022.6=pypi_0
pyyaml=6.0=pypi_0
readline=8.2=h5eee18b_0
requests=2.28.1=pypi_0
rich=12.6.0=pypi_0
ruamel-yaml=0.17.21=pypi_0
ruamel-yaml-clib=0.2.7=pypi_0
scmrepo=0.1.3=pypi_0
setuptools=65.5.0=py38h06a4308_0
shortuuid=1.0.11=pypi_0
shtab=1.5.8=pypi_0
six=1.16.0=pyhd3eb1b0_1
smmap=5.0.0=pypi_0
sqlite=3.40.0=h5082296_0
tabulate=0.9.0=pypi_0
tk=8.6.12=h1ccaba5_0
tomlkit=0.11.6=pypi_0
tqdm=4.64.1=pypi_0
urllib3=1.26.13=pypi_0
vine=5.0.0=pypi_0
voluptuous=0.13.1=pypi_0
wcwidth=0.2.5=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
xz=5.2.6=h5eee18b_0
yarl=1.8.1=pypi_0
zc-lockfile=2.0=pypi_0
zipp=3.11.0=pypi_0
zlib=1.2.13=h5eee18b_0
